li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.todo-container {
  display: flex;
}

.checkboxContainer {
  display: flex;
  align-items: center;
}

.anotherInput {
  padding: 5px;
  margin: 0px;
  width: 80%;
}

@media (min-width: 768px) {
  .anotherInput {
    width: 300px;
  }
}

.checkbox {
  margin: 0px;
  margin-right: 10px;
}

.title {
  margin: 0px;
  font-size: 10px;
}

@media (min-width: 768px){
  .title{
    font-size: 15px;
  }
}

.btn-container{
  display: flex;
  align-items: center;
}

button {
  background-color: transparent;
  border: 1px solid #ff0b37;
  padding: 8px;
  border-radius: 7px;
  margin-left: 10px;
  font-size: 10px;
}
@media (min-width: 768px){
  button{
    font-size: 11px;
    padding: 10px;
    width: 50px;
  }
}

.editBtn {
  background-color: #ffa500;
  border: none;
}
